body {
    width: 100%;
    height: auto;
    overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  position: absolute;
  left: 200px;
  bottom: 5px;
}
p1 {
  position: relative;
  left: 10px;
  top: 3px;
}
h3 {
  position: relative;
  bottom: 32px;
}
p {
  position: relative;
  left: 10px;
  top: 90px;
  font-size: 90px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
} 

p2 {
  position: relative;
  left: 10px;
  top: 50px;
  font-size: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
p3 {
  position: relative;
  left: 950px;
  top: 150px;
  bottom:300px;
}
header {
  height: 15vh;
  font-size: 22px;
  font-style: bold;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  position: absolute;
  background-color: #242423;
  width: 100%;
}
buttonText{
    font-size: 45px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
