*{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
.container{
	background-color: #333533;
	min-height: 100vh;
	overflow: hidden;
	width: 100%;
}
.topnav{
	align-items: center;
	background-color: #242423;
	border-bottom: solid 0.5vh;
	color:  #F5CB5C;
	display: inline-flex;
	height: 15vh;
	min-height: 85%;
    overflow: hidden;
	position: relative;
	width: 100%;
}
.logo{
	margin: 30px 0;
	margin-left: 1vw;
	min-width: 150px;
	padding-top: 2vw;
	width: 10vw;
}
h1{
	color: #F5CB5C;
	margin-left: 1vw;
	padding-top: 7vh;
}
.content{
	background-color: #333533;
	height: 67vh;
	min-height: 240px;
	overflow: hidden;
	width: 100%;
}
.content{
	line-height: 5vw;
}
h2{
	color: #F5CB5C;
	font-family: "Open Sans", sans-serif;
	font-size: 6vw;
	font-weight: 800;
	margin-left: 10px;
	text-decoration: none;
}
h3{
	color: #F5CB5C;
  	font-family: "Open Sans", sans-serif;
	font-size: 4vw;
 	font-weight: 800;
	margin-left: 10px;
	text-decoration: none;
}
.pahar{
	margin-top: 5vh;
	overflow: hidden;
	position: absolute;
	right: 5vw;
	width: 33%;
}
@media screen and (max-height: 750px){
	.content img {top:17vh}
}
.block{
	background-color: #F5CB5C;
	border-radius: 35px;
	color: #333533;
	cursor: pointer;
 	font-family: "Open Sans", sans-serif;
	font-size: 3vw;
  	font-weight: 800;
	height: 8.5vw;
	line-height: 110%;
	margin-bottom: 2vh;
	margin-left: 20vw;
	margin-top: 21vh;
	width: 32vw;
}