*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container{
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	background-color: #333533;
}
.topnav{
	min-height: 85px;
	width: 100%;
	display: inline-flex;
	align-items: center;
	height: 15vh;
    position: relative;
    background-color: #242423;
    border-bottom: solid 5px #F5CB5C;
    overflow: hidden;
}
.logo{
	width: 10vw;
	min-width: 150px;
	cursor: pointer;
	margin: 30px 0;
}
.topnav h1{
	padding-left: 3%;
	color: #F5CB5C;
}
.topnav nav{
	flex: 1;
	text-align: right;
}
.topnav nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}
.topnav nav ul li a{
	text-decoration: none;
  	color: #F5CB5C;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.topnav nav ul li a:hover{
	color: #ff5ea2;
}
.logo_user{
	width: 60px;
	cursor: pointer;
	padding-right: 2%;
}
.botnav{
	background-color: #242423;
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.botnav nav{
	display: inline;
	margin-top: 0%;
    background-color: #242423;
}

.nav li{
	display: inline-block;
	padding-left: 3vw;
	padding-top: 2vh;
	padding-right: 3vw;
	padding-bottom: 2vh;
    background-color: #242423;
    border: none;
    overflow: hidden;
}

.nav li a{
	display: inline;
	color: #f5cb5c;
	text-decoration: none;
	font-size: 4vh;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	padding-left: 0.5vw;
}

.nav li a:hover{
	color: #ff5ea2;
}

@media screen and (max-width: 800px){
	.nav li{
		display: block;
	}
}

.startPageContent{
	background-color: #333533;
	height: 95vh;
	min-height: 240px;
	overflow: hidden;
	width: 100%;
	line-height: 5vw;
}
.startPageContent h2{
	color: #F5CB5C;
	font-family: "Open Sans", sans-serif;
	font-size: 6vw;
	font-weight: 800;
	margin-left: 10px;
	text-decoration: none;
}
.startPageContent h3{
	color: #F5CB5C;
  	font-family: "Open Sans", sans-serif;
	font-size: 4vw;
 	font-weight: 800;
	margin-left: 10px;
	text-decoration: none;
}
.startPageContent .pahar{
	margin-top: 5vh;
	overflow: hidden;
	position: absolute;
	right: 5vw;
	width: 33%;
}
.startPageContent .block{
	background-color: #F5CB5C;
	border-radius: 35px;
	color: #333533;
	cursor: pointer;
 	font-family: "Open Sans", sans-serif;
	font-size: 3vw;
  	font-weight: 800;
	height: 8.5vw;
	line-height: 110%;
	margin-bottom: 2vh;
	margin-left: 20vw;
	margin-top: 21vh;
	width: 32vw;
}
@media screen and (max-height: 750px){
	.startPageContent img {top:17vh}
}

.registerContent{
	min-height: 300px;
	width: 100%;
	height: 67vh;
	overflow: hidden;
	background-color: #333533;
}
.registerContent h2{
	margin-left: 10px;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 4vw;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}
.registerContent h3{
	margin-left: 10px;
	text-decoration: none;
	color: #F5CB5C;
 	font-size: 3vw;
  	font-family: "Open Sans", sans-serif;
 	font-weight: 800;
}
.register-form{
	margin-left: 2vw;
	max-width: 28vw;
	width: 100%;
	min-width: 28vw;
	flex-direction: column;
	display: inline-flex;
	align-items: center;
	background-color: #242423;
	border-radius: 25px;
	text-align: center;
}
.register-form h4{
 	font-size: 25px;
 	font-family: "Open Sans", sans-serif;
 	font-weight: 500;
	color: #F5CB5C;
}
.register-form p{
 	font-size: 15px;
 	font-family: "Open Sans", sans-serif;
 	font-weight: 500;
	color: #F5CB5C;
}
.register-form .input-box{
	text-align: center;
	flex-direction: column;
}
.register-form .input-box input{
	font-size: 16px;
	width: 20vw;
	min-width: 200px;

	background-color: #333533;
	display: inline-block;
	align-items: center;
	vertical-align: center;
	border-bottom: 0.5px solid gray;
	border-radius: 25px;
}
.register-form .input-box input, select, textarea{
	color: #F5CB5C;
	padding: 10px;
}
.register-form .input-box img{
	vertical-align: middle;
}
.register-form .submit-button{
	color:#242423;
	background-color:#f5cb5c;
	height: 50px;
	width: 200px;
	border-radius: 30px;
	font-size: 25px;
	font-weight:600;
	padding: 0;
}
.registerContent .pahar{
	width: 30%;
	min-width: 370px;
	position: absolute;
	right: 5vh;
	bottom: 20vh;
	overflow: hidden;
}
@media screen and (max-height: 800px){
	.registerContent .pahar {display: none}
}
@media screen and (max-width: 700px){
	.registerContent .pahar{bottom: 0px}
}
@media screen and (max-height: 550px){
	.registerContent h2{display: none}
	.registerContent h3{display: none}
}
.loginContent{
	min-height: 300px;
	width: 100%;
	height: 67vh;
	overflow: hidden;
	background-color: #333533;
}
.loginContent h2{
	margin-left: 10px;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 4vw;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}
.loginContent h3{
	margin-left: 10px;
	text-decoration: none;
	color: #F5CB5C;
 	font-size: 3vw;
  	font-family: "Open Sans", sans-serif;
 	font-weight: 800;
}
.login-form{
	margin-left: 2vw;
	max-width: 28vw;
	width: 100%;
	min-width: 300px;
	height: 250px;
	flex-direction: column;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #242423;
	border-radius: 25px;
	text-align: center;
}
.login-form h4{
 	font-size: 25px;
 	font-family: "Open Sans", sans-serif;
 	font-weight: 500;
	color: #F5CB5C;
}
.login-form p{
 	font-size: 15px;
 	font-family: "Open Sans", sans-serif;
 	font-weight: 500;
	color: #F5CB5C;
}
.login-form .input-box{
	text-align: center;
	flex-direction: column;
}
.login-form .input-box input{
	font-size: 16px;
	width: 20vw;
	min-width: 200px;
	background-color: #333533;
	display: inline-block;
	align-items: center;
	vertical-align: center;
	border-bottom: 0.5px solid gray;
	border-radius: 25px;
}
.login-form .input-box input, select, textarea{
	color: #F5CB5C;
	padding: 10px;
}
.login-form .input-box img{
	vertical-align: middle;
}
.login-form .forgot-password{
	text-align: right;
	color: #F5CB5C;
	outline: none;
}
.login-form .forgot-password a{
	text-decoration: none;
	color: gray;
}
.login-form .forgot-password a:hover{
	text-decoration: underline;
}
.login-form .submit-button{
	color:#242423;
	background-color:#f5cb5c;
	height: 40px;
	border-radius: 25px;
	font-size: 25px;
	padding: 0;
}
.loginContent .pahar{
	width: 30%;
	min-width: 370px;
	position: absolute;
	right: 5vh;
	bottom: 20vh;
	overflow: hidden;
}
@media screen and (max-width: 700px){
	.loginContent .pahar{bottom: 0px}
}
@media screen and (max-height: 550px){
	.loginContent h2{display: none}
	.loginContent h3{display: none}
}

.forgot-password-content{
	min-height: 300px;
	width: 100%;
	height: 67vh;
	overflow: hidden;
	background-color: #333533;
	font-family: "Open Sans", sans-serif;
	color: #F5CB5C;
	text-decoration: none;
}
.forgot-password-content h2{
	margin-left: 10px;
	font-size: 4vw;
	font-weight: 800;
}
.forgot-password-content h3{
	margin-left: 10px;
 	font-size: 3vw;
 	font-weight: 800;
	padding-bottom: 3vh;
}
.forgot-password-form{
	margin-left: 7vw;
	width: 34vw;
	height: 40vh;
	justify-content: center;
	background-color: #242423;
	border-radius: 25px;
	text-align: center;
	vertical-align: middle;
}

.forgot-password-form h4{
	padding: 1vh;
 	font-size: 3.5vh;
 	font-weight: normal;
	margin-bottom: 1vw;
}
.forgot-password-form h5{
	font-size: 2.75vh;
	font-weight: lighter;
	text-align: justify;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-bottom: 1vw;
}
.forgot-password-form .input-box{
	flex-direction: column;
	align-items: center;
}
.forgot-password-form .input-box input{
	font-size: 2.5vh;
	width: 23vw;
	background-color: #333533;
	display: inline-block;
	align-items: center;
	vertical-align: center;
	border-radius: 3vh;
	color: #F5CB5C;
	padding: 1.25vh;
}
.forgot-password-form .input-box img{
	vertical-align: middle;
}
.forgot-password-form .submit-button{
	color:#242423;
	background-color:#f5cb5c;
	height: 6vh;
	border-radius: 25vw;
	font-size: 3vh;
	font-weight: bold;
	padding-inline: 3vw;
	margin-top: 1.5vh;
}
.forgot-password-content .pahar{
	max-width: 475px;
	height: 65vh;
	min-height: auto;
	position: absolute;
	right: 8vw;
	bottom: 15vh;
	overflow: hidden;
}

@media screen and (max-width: 870px){
	.forgot-password-form .input-box img{
		display: none;
	}
}
@media screen and (max-width: 850px){
	.forgot-password-form {	
		margin-left: 5vw;
		margin-top: 15vh;
		margin-right: 5vw;
		width: 90vw;
		vertical-align: center;
	}

	.forgot-password-form .input-box input{
		width: 60vw;
	}

	.forgot-password-content h2{
		display: none
	}
	.forgot-password-content h3{
		display: none
	}

	.forgot-password-content .pahar{
		display: none;
	}

	.forgot-password-form h5{
		text-align: center;
	}

	.forgot-password-form .input-box img{
		display: inline;
	}
}
.productsContent{
	min-height: 240px;
	width: 100%;
	height: 67vh;
	overflow: hidden;
	background-color: #333533;
}
.productsContent h2{
	margin-top: 2vh;
	margin-left: 10px;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 6vw;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}
.productsContent h3{
	margin-left: 10px;
	text-decoration: none;
	color: #F5CB5C;
 	font-size: 4vw;
  	font-family: "Open Sans", sans-serif;
 	font-weight: 800;
}
.productsContent .pahar{
	width: 30%;
	min-width: 370px;
	position: absolute;
	right: 5vh;
	bottom: 20vh;
	overflow: hidden;
}
@media screen and (max-height: 750px){
	.productsContent img {display: none}
}

.aboutUsContent{
	min-height: 800px;
	width: 100%;
	height: 70vh;
	overflow: scroll;
	overflow-x: hidden;
	background-color: #333533;
	text-align: center;
}
.aboutUsContent::-webkit-scrollbar{
	display: none;
}
.aboutUsContent h2{
	margin-top: 2.5vh;
	text-align: center;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 45px;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}
.aboutUsContent h3{
	margin-top: 2vh;
	margin-left: 3vw;
	margin-right: 3vw;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 19px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}
.aboutUsContent h3 nav a{
	text-decoration: none;
	color: #F5CB5C;
	font-size: 19px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}
.aboutUsContent h3 nav a:hover{
	color: #ff5ea2;
}
.aboutUsContent h4{
	margin-top: 2vh;
	text-align: center;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 60px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}
.list-button input{
	margin-top: 30px;
	color:#242423;
	background-color:#f5cb5c;
	height: 85px;
	border-radius: 50px;
	font-size: 35px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	padding: 0;
}

.list-button input:hover{
	color: #68747c;
}
@media screen and (max-width: 1320px){

}

.termsAndConditionsContent{
	min-height: 800px;
	width: 100%;
	height: 70vh;
	overflow: scroll;
	overflow-x: hidden;
	background-color: #333533;
	text-align: center;
}
.termsAndConditionsContent::-webkit-scrollbar{
	display: none;
}
.termsAndConditionsContent h2{
	margin-top: 2.5vh;
	text-align: center;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 45px;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}
.termsAndConditionsContent h3{
	margin-top: 2vh;
	margin-left: 3vw;
	margin-right: 3vw;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 19px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}
.termsAndConditionsContent h3 nav a{
	text-decoration: none;
	color: #F5CB5C;
	font-size: 19px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}
.termsAndConditionsContent h3 nav a:hover{
	color: #ff5ea2;
}

.terms-list-button input{
	margin-top: 30px;
	color:#242423;
	background-color:#f5cb5c;
	height: 85px;
	border-radius: 50px;
	font-size: 35px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	padding: 0;
}

.terms-list-button input:hover{
	color: #68747c;
}
@media screen and (max-width: 1320px){

}

.profileContent{
	min-height: 240px;
	width: 100%;
	height: 67vh;
	overflow: hidden;
	background-color: #333533;
}