.botnav {
	background-color: #242423;
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.botnav nav {
	display: inline;
	margin-top: 0%;
	background-color: #242423;
}

.nav li {
	display: inline-block;
	padding-left: 3vw;
	padding-top: 2vh;
	padding-right: 3vw;
	padding-bottom: 2vh;
	background-color: #242423;
	border: none;
	overflow: hidden;
}

.nav li a {
	display: inline;
	color: #f5cb5c;
	text-decoration: none;
	font-size: 4vh;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	padding-left: 0.5vw;
	transition: 0.5s ease;
}

.nav li a:hover {
	color: #ffff;
}

@media screen and (max-width: 800px) {
	.nav li {
		display: block;
	}
}

.startPageContent {
	background-color: #333533;
	height: 95vh;
	min-height: 240px;
	overflow: hidden;
	width: 100%;
	line-height: 5vw;
}

.startPageContent h2 {
	color: #F5CB5C;
	font-family: "Open Sans", sans-serif;
	font-size: 6vw;
	font-weight: 800;
	margin-left: 10px;
	text-decoration: none;
}

.startPageContent h3 {
	color: #F5CB5C;
	font-family: "Open Sans", sans-serif;
	font-size: 4vw;
	font-weight: 800;
	margin-left: 10px;
	text-decoration: none;
}

.startPageContent .pahar {
	margin-top: 5vh;
	overflow: hidden;
	position: absolute;
	right: 5vw;
	width: 33%;
}

.startPageContent .block {
	background-color: #F5CB5C;
	border-radius: 35px;
	color: #333533;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	font-size: 3vw;
	font-weight: 800;
	height: 8.5vw;
	line-height: 110%;
	margin-bottom: 2vh;
	margin-left: 20vw;
	margin-top: 21vh;
	width: 32vw;
}

@media screen and (max-height: 750px) {
	.startPageContent img {
		top: 17vh
	}
}

.registerContent {
	min-height: 300px;
	width: 100%;
	height: 67vh;
	background-color: #333533;
	overflow: hidden;
	flex-direction: row;
}

.registerContent h2 {
	margin-left: 10px;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 4vw;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}

.registerContent h3 {
	margin-left: 10px;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 3vw;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}

.register-form {
	margin-left: 2vw;
	max-width: 28vw;
	width: 100%;
	min-width: 300px;
	height: 310px;
	flex-direction: column;
	justify-content: center;
	display: inline-flex;
	align-items: center;
	background-color: #242423;
	border-radius: 25px;
	text-align: center;
}

.register-form h4 {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	color: #F5CB5C;
}

.register-form p {
	font-size: 1px;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	color: #F5CB5C;
}

.register-form .input-box {
	text-align: center;
	flex-direction: column;

}

.reg-logo {
	width: 40px;
}

.register-form .input-box input {
	font-size: 15px;
	width: 23vw;
	min-width: 200px;

	background-color: #333533;
	display: inline-block;
	align-items: center;
	vertical-align: center;
	margin-bottom: 3px;
	border-bottom: 3px solid gray;
	border-radius: 25px;
}

.register-form .input-box input,
select,
textarea {
	color: #F5CB5C;
	padding: 10px;
}

.register-form .input-box img {
	vertical-align: middle;
}

.register-form .submit-button {
	color: #242423;
	background-color: #f5cb5c;
	height: 40px;
	width: 150px;
	border-radius: 30px;
	font-size: 25px;
	font-weight: 600;
	padding: 0;
}

.registerContent .pahar {
	width: 500px;
	height: 65vh;
	position: absolute;
	right: 8vw;
	bottom: 11vh;
	overflow: hidden;
}

@media (max-width: 1100px) {
	.registerContent .pahar {
		display: none;
	}

	.registerContent h2 {
		font-size: 8vw;
	}

	.registerContent h3 {
		font-size: 7vw;
	}
}

@media (max-width: 850px) {
	.registerContent .pahar {
		display: none;
	}

	.register-form {
		margin-left: 2vw;
		max-width: 30vw;
		width: 100%;
		min-width: 320px;
		height: 310px;
		flex-direction: column;
		justify-content: center;
		display: inline-flex;
		align-items: center;
		background-color: #242423;
		border-radius: 25px;
		text-align: center;
	}

	.registerContent h2 {
		font-size: 9vw;
	}

	.registerContent h3 {
		font-size: 8vw;
	}
}

.loginContent {
	min-height: 300px;
	width: 100%;
	height: 67vh;
	overflow: hidden;
	background-color: #333533;
}

.loginContent h2 {
	margin-left: 10px;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 4vw;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}

.loginContent h3 {
	margin-left: 10px;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 3vw;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}

.login-form {
	margin-left: 2vw;
	max-width: 28vw;
	width: 100%;
	min-width: 300px;
	height: 250px;
	flex-direction: column;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #242423;
	border-radius: 25px;
	text-align: center;
}

.login-form h4 {
	font-size: 25px;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	color: #F5CB5C;
}

.login-form p {
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	color: #F5CB5C;
}

.login-form .input-box {
	text-align: center;
	flex-direction: column;
}

.login-form .input-box input {
	font-size: 16px;
	width: 20vw;
	min-width: 200px;
	background-color: #333533;
	display: inline-block;
	align-items: center;
	vertical-align: center;
	border-bottom: 0.5px solid gray;
	border-radius: 25px;
}

.login-form .input-box input,
select,
textarea {
	color: #F5CB5C;
	padding: 10px;
}

.login-form .input-box img {
	vertical-align: middle;
}

.login-form .forgot-password {
	text-align: right;
	color: #F5CB5C;
	outline: none;
}

.login-form .forgot-password a {
	text-decoration: none;
	color: gray;
}

.login-form .forgot-password a:hover {
	text-decoration: underline;
}

.login-form .submit-button {
	color: #242423;
	background-color: #f5cb5c;
	height: 40px;
	border-radius: 25px;
	font-size: 25px;
	padding: 0;
}

.loginContent .pahar {
	width: 500px;
	height: 65vh;
	position: absolute;
	right: 8vw;
	bottom: 11vh;
	overflow: hidden;

}

@media (max-width: 850px) {
	.loginContent .pahar {
		display: none;
	}

	.login-form {

		margin-left: 2vw;
		max-width: 30vw;
		width: 100%;
		min-width: 320px;
		height: 250px;
		flex-direction: column;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: #242423;
		border-radius: 25px;
		text-align: center;
	}

	.loginContent h2 {
		font-size: 9vw;
	}

	.loginContent h3 {
		font-size: 8vw;
	}
}

.forgot-password-content {
	min-height: 300px;
	width: 100%;
	height: 75vh;
	overflow: hidden;
	background-color: #333533;
	font-family: "Open Sans", sans-serif;
	color: #F5CB5C;
	text-decoration: none;
}

.forgot-password-content h2 {
	margin-left: 10px;
	font-size: 4vw;
	font-weight: 800;
}

.forgot-password-content h3 {
	margin-left: 10px;
	font-size: 3vw;
	font-weight: 800;
	padding-bottom: 3vh;
}

.forgot-password-form {
	margin-left: 7vw;
	width: 34vw;
	height: 40vh;
	justify-content: center;
	background-color: #242423;
	border-radius: 25px;
	text-align: center;
	vertical-align: middle;
	margin-top: 4vh;
}

.forgot-password-form h4 {
	padding-top: 3vh;
	font-size: 3.5vh;
	font-weight: normal;
	margin-bottom: 1vw;
}

.forgot-password-form h5 {
	font-size: 2.75vh;
	font-weight: lighter;
	text-align: justify;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-bottom: 1vw;
}

.forgot-password-form .input-box {
	flex-direction: column;
	align-items: center;
}

.forgot-password-form .input-box input {
	font-size: 2.5vh;
	width: 23vw;
	background-color: #333533;
	display: inline-block;
	align-items: center;
	vertical-align: center;
	border-radius: 3vh;
	color: #F5CB5C;
	padding: 1.25vh;
}

.forgot-password-form .input-box img {
	vertical-align: middle;
}

.forgot-password-form .submit-button {
	color: #242423;
	background-color: #f5cb5c;
	height: 6vh;
	border-radius: 25vw;
	font-size: 3vh;
	font-weight: bold;
	padding-inline: 3vw;
	margin-top: 1.5vh;
}

.forgot-password-content .pahar {
	width: 500px;
	height: 65vh;
	position: absolute;
	right: 8vw;
	bottom: 11vh;
	overflow: hidden;
}

@media screen and (max-width: 870px) {
	.forgot-password-form .input-box img {
		display: none;
	}
}

@media screen and (max-width: 850px) {
	.forgot-password-form {
		top: 10vh;
		margin-left: 5vw;
		margin-top: 15vh;
		margin-right: 5vw;
		width: 90vw;
		vertical-align: center;
	}

	.forgot-password-form .input-box input {
		width: 60vw;
	}

	.forgot-password-content h2 {
		display: none
	}

	.forgot-password-content h3 {
		display: none
	}

	.forgot-password-content .pahar {
		display: none;
	}

	.forgot-password-form h4 {
		padding-top: 6vh;
	}

	.forgot-password-form h5 {
		text-align: center;
	}

	.forgot-password-form .input-box img {
		display: inline;
	}
}

@media screen and (max-width: 1100px) {
	.forgot-password-content .pahar {
		right: -4vw;
	}
}

.products {
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: wrap;

	gap: 15px;
}

.productsContent {
	width: 100%;
	height: 72vh;
	background-color: #333533;
	overflow: hidden;
}

.productsContent .rows {
	display: flex;
}

.productsContent .product {
	display: flex;
	flex-direction: column;
	align-items: center;


	width: 23%;
	min-width: 200px;
	max-width: 200px;
	max-height: 350px;

	padding-top: 30px;
	gap: 30px;


	text-align: center;
	font-size: 20px;
}

.productsContent .product_img {
	width: 100%;
	height: 170px;
}

.aboutUsContent {
	min-height: 800px;
	width: 100%;
	height: 70vh;
	overflow: scroll;
	overflow-x: hidden;
	background-color: #333533;
	text-align: center;
}

.aboutUsContent::-webkit-scrollbar {
	display: none;
}

.aboutUsContent h2 {
	margin-top: 2.5vh;
	text-align: center;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 45px;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}

.aboutUsContent h3 {
	margin-top: 2vh;
	margin-left: 3vw;
	margin-right: 3vw;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 19px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}

.aboutUsContent h3 nav a {
	text-decoration: none;
	color: #F5CB5C;
	font-size: 19px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}

.aboutUsContent h3 nav a:hover {
	color: #ff5ea2;
}

.aboutUsContent h4 {
	margin-top: 2vh;
	text-align: center;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 60px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}

.list-button input {
	margin-top: 30px;
	color: #242423;
	background-color: #f5cb5c;
	height: 85px;
	border-radius: 50px;
	font-size: 35px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	padding: 0;
}

.list-button input:hover {
	color: #68747c;
}

@media screen and (max-width: 1320px) {}

.termsAndConditionsContent {
	min-height: 800px;
	width: 100%;
	height: 70vh;
	overflow: scroll;
	overflow-x: hidden;
	background-color: #333533;
	text-align: center;
}

.termsAndConditionsContent::-webkit-scrollbar {
	display: none;
}

.termsAndConditionsContent h2 {
	margin-top: 2.5vh;
	text-align: center;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 45px;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}

.termsAndConditionsContent h3 {
	margin-top: 2vh;
	margin-left: 3vw;
	margin-right: 3vw;
	text-decoration: none;
	color: #F5CB5C;
	font-size: 19px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}

.termsAndConditionsContent h3 nav a {
	text-decoration: none;
	color: #F5CB5C;
	font-size: 19px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}

.termsAndConditionsContent h3 nav a:hover {
	color: #ff5ea2;
}

.terms-list-button input {
	margin-top: 30px;
	color: #242423;
	background-color: #f5cb5c;
	height: 85px;
	border-radius: 50px;
	font-size: 35px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	padding: 0;
}

.terms-list-button input:hover {
	color: #68747c;
}

@media screen and (max-width: 1320px) {}

.profileContent {
	min-height: 240px;
	width: 100%;
	height: 67vh;
	overflow: hidden;
	background-color: #333533;
}


.manage-account-content{
	min-height: 300px;
	width: 100%;
	height: 75vh;
	overflow: hidden;
	background-color: #333533;
	font-family: "Open Sans", sans-serif;
	color: #F5CB5C;
	text-decoration: none;
	position: relative;
}
.manage-account-content h2{
	margin-left: 10px;
	font-size: 4vw;
	font-weight: 800;
}
.manage-account-content h3{
	margin-left: 10px;
 	font-size: 3vw;
 	font-weight: 800;
}
.Bio{
	font-size: 2.5vh;
	width: 30vw;
	background-color: #242423;
	display: inline-block;
	align-items: center;
	vertical-align: center;
	border: none;
	border-radius: 25px;
	color: #F5CB5C;
	padding: 0.75vw;
	text-align: center;
}

.manage-account-content div{
	position: relative;
	top: -22%;
}
.manage-account-content h4{
	margin-left: 10px;
 	font-size: 2vw;
 	font-weight: 800;
}
.user-logo{
	width: 20%;
}
.manage-account-content ul{
	column-count: 2;
}

.manage-account-content ul li {
	text-align: center;
	flex-direction: column;
	padding-bottom: 2vh;
}
.manage-account-content ul li input, ul li button{
	font-size: 2.5vh;
	width: 30vw;
	background-color: #F5CB5C;
	display: inline-block;
	align-items: center;
	vertical-align: center;
	border-bottom: 0.5px solid gray;
	border-radius: 25px;
	color: #242423;
	padding: 0.75vw;
	text-align: center;
}
.manage-account-content ul li img{
	vertical-align: middle;
}
.manage-account-content ul li div{
	width: 3vw;
	height: 3vh;
	justify-content: center;
	background-color: #242423;
	border-radius: 25px;
	text-align: center;
	vertical-align: middle;
}
.save_button{
	color:#242423;
	background-color:#f5cb5c;
	height: 7vh;
	width: 18vw;
	border-radius: 25px;
	font-size: 3vh;
	margin-top: 2.5%;
	margin-left: 40%;
	font-weight: bold;
}
.manage-account-content .save_button:hover{
	color: #ffffff;
}

@media screen and (max-width: 900px) {
	.manage-account-content ul{
		column-count: 1;
	}

	.manage-account-content h2, h3{
		display: none;
	}

	.manage-account-content h4{
		text-align: center;
		padding-bottom: 3vh;
		font-size: 5vh;
	}

	.manage-account-content ul li input, ul li button{
		width: 50vw;
	}

	.Bio{
		width: 50vw;
	}

	.manage-account-content img{
		display: none;
	}

	.save_button{
		width: 60vw;
		margin-left: 20%;
		text-align: center;
	}
}

@media screen and (max-width: 2000px) {
	.manage-account-content div{
		top: -14%;
	}
}

@media screen and (max-width: 1750px) {
	.manage-account-content div{
		top: -8%;
	}
}
@media screen and (max-width: 1450px) {
	.manage-account-content div{
		top: 0%;
	}
	.user-logo{
		width: 25%;
	}
}

@media screen and (max-width: 900px) {
	.manage-account-content h4{
		padding-bottom: 15vh;
	}
}

@media screen and (max-height: 950px) {
	.manage-account-content div{
		top: -22%;
	}
}

.lists-content{
	width: 100%;
	height: 78vh;
	overflow: hidden;
    color: #F5CB5C;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
    background-color: #333533;
}

.lists-content h2{
	font-size: 4vw;
    font-weight: 800;
    margin-left: 10px;
}
.lists-content h3{
	font-size: 3vw;
    font-weight: 800;
    margin-left: 10px;
}

.add-list{
    border-radius: 25px;
    text-align: center;
    color: #F5CB5C;
    background-color: #242423;
    border: none;
    height: 7vh;
    width: 20vw;
    font-size: 3vh;
    font-weight: normal;
    margin-left: 75vw;
    margin-bottom: 3vh;
}
.add-list:hover{
    color: #ffff;
}

.lists{
    border-radius: 25px;
    width: 90vw;
    margin-left: 5vw;
    overflow: scroll;
    color: #F5CB5C;
    font-size: 3vh;
    font-weight: lighter;
    background-color: #242423;
    text-align: right;
    border-spacing: 4vh;
    border-collapse:separate; 
    overflow:hidden;
    overflow-y:scroll;
    height: 39vh;
    display:block;
    border-style: none!important;
    border-bottom: 2px solid #F5CB5C;
}

.lists-content tr{
    border-bottom: 2px solid #F5CB5C;
}

.lists-content tr td{
    border-bottom: 2px solid #F5CB5C;
}

.lists tr td:first-child{
    padding-left: 0%;
}

.lists tr td:nth-child(2){
    padding-left: 5vw;
    text-align: left;
    padding-right: 40vw;
}

.lists tr td:nth-child(3){
    padding-left: 0vw;
}

.lists tr:first-child {
    border-bottom: none;
}

.view{
    align-items: center;
    border-radius: 25px;
    border: none;
    background-color: #F5CB5C;
    font-size: 3vh;
    font-weight: lighter;
    color: #242423;
    width: 8vw;
    margin-bottom: 1vh;
}

.remove{
    align-items: center;
    border-radius: 25px;
    border: none;
    background-color: #F5CB5C;
    font-size: 3vh;
    font-weight: lighter;
    color: #242423;
    width: 10vw;
    margin-bottom: 1vh;
}

.remove:hover{
    color: #ffff
}

.view:hover{
    color: #ffff
}

@media screen and (max-width: 1350px) {
    .lists-content h2{
        font-size: 6vw;
    }
    .lists-content h3{
        font-size: 5vw;
    }
}

@media screen and (max-width: 1300px) {
    .lists{
        height: 35vh;
    }
}

@media screen and (max-width: 450px) {
    .lists-content h2{
        text-align: center;
        font-size: 8vw;
    }

    .add-list{
        margin-top: 3vh;
        margin-left: 60vw;
        width: 35vw;
        font-size: 5vw;
    }
}

@media screen and (max-width: 970px) {
    .lists{
        overflow: scroll;
        font-size: 3vh;
    }
}

@media screen and (max-width: 970px) {
    .lists{
        height: 50vh;
    }
}

@media screen and (max-width: 1550px) {
    .lists tr td:nth-child(2){
        padding-right: 20vw;
    }

    .view{
        width: 12vw;
    }
    
    .remove{
        width: 14vw;
    }
}

@media screen and (max-width: 1000px) {
    .lists tr td:nth-child(2){
        padding-right: 14vw;
    }

    .remove{
        width: 16vw;
        font-size: 2vh;
    }

    .view{
        width: 14vw;
        font-size: 2vh;
    }
}

@media screen and (max-width: 650px) {
    .lists tr td:nth-child(2){
        padding-right: -3vw;
        max-width: 10vw;
    }
    
    .remove{
        width: 16vw;
        font-size: 2vh;
    }

    .view{
        width: 14vw;
        font-size: 2vh;
    }
    .lists{
        font-size: 2vh;
    }
}
/********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	list-style: none;
	text-decoration: none;
}

/*START - header*/
#header_start {
	display: flex;
	align-items: center;
	padding: 5px 30px;
	background: #242423;
	border-bottom: solid 5px #F5CB5C;
}

#navbar_start {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#navbar_start h1 {
	font-size: 40px;
	color: #F5CB5C;
}

.logo {
	width: 150px;
	padding-top: 20px;
}

/*START - content*/
#content_start {
	background-color: #333533;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#content_start h2 {
	color: #F5CB5C;
	font-family: "Open Sans", sans-serif;
	font-size: 60px;
	font-weight: 800;
	margin-left: 10px;
	padding-top: 20px;
	display: flex;
	align-items: center;

}

#content_start h3 {
	color: #F5CB5C;
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	font-weight: 800;
	margin-left: 10px;
	margin-bottom: 0px;

}

.pahar {
	user-select: none;
	pointer-events: none;
	width: 500px;
	align-self: end;
	position: absolute;
	margin-right: 50px;
	margin-top: 10px;
	z-index: 0;
}

.block {
	background-color: #F5CB5C;
	border-radius: 35px;
	color: #333533;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	font-size: 40px;
	font-weight: 800;
	height: 140px;
	margin-left: 250px;
	border-color: #F5CB5C;
	margin-top: 150px;

}

@media (max-width: 1000px) {
	.pahar {
		width: 350px;
		align-self: start;
		margin-top: 100px;
	}
}

@media (max-width: 700px) {
	.pahar {
		width: 350px;
		align-self: start;
		margin-top: 100px;
		margin-left: -30px;
	}

	.block {
		align-self: start;
		margin-left: 200px;
		font-size: 20px;
	}

	#content_start h2 {
		font-size: 50px;
	}

	#content_start h3 {
		margin-bottom: -60px;
		font-size: 25px;
	}

	#header_start h1 {
		padding-left: 10px;
	}

}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	padding: 5px 30px;
	background-color: #242423;
	border-bottom: solid 5px #F5CB5C;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;

}

#navbar li {
	list-style: none;
	padding: 0 20px;
}

#navbar li a {
	text-decoration: none;
	color: #F5CB5C;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	transition: 0.5s ease;
}

.userpiclogo {
	width: 60px;
	cursor: pointer;
	padding-right: 2%;
}

#navbar li a:hover {
	color: #ffff;
}

.bar_size {
	width: 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	border-color: transparent;
}

.close_size {
	width: 30px;
	position: absolute;
	top: 30px;
	z-index: 999;
}

#mobile {
	display: none;
	align-items: center;
	text-decoration: none;
}

#mobile li {
	list-style: none;
}

#close {
	display: none;
}

@media (max-width:700px) {
	#navbar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		right: -300px;
		height: 100vh;
		width: 300px;
		background-color: #F5CB5C;
		box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
		padding: 80px 0 0 10px;

	}

	#navbar.active {
		right: 0px;
	}

	#navbar li {
		margin-bottom: 30px;
	}

	#navbar li a {
		text-decoration: none;
		color: #333533;
		font-size: 20px;
		font-family: "Open Sans", sans-serif;
		font-weight: 600;
		transition: 0.5s ease;
	}

	#mobile {
		display: flex;
		align-items: center;
	}

	#close {
		display: flex;
	}

	.userpiclogo {
		display: none;
	}

	.list-group-item label{
		font-size: 10px;
	}
}

.productsContent {
	overflow: auto;
	display: block;
}

.productsContent h6 {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	color: #F5CB5C;
	padding-left: 12px;
	padding: 2px;
}

.productsContent input[type="search"] {
	padding: 8px;
	padding-left: 10px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: 95%;
	box-shadow: inset 0 0 2px;
	background-color: #242423;
	font-size: 25px;
	background-image: url('images/searchicon.png');
	background-position: 85vw;
	background-repeat: no-repeat;
	background-size: 30px;
}

::placeholder {
	color: #f5cb5c;
}

.productsContent ul {
	padding-left: 2px;
}

.productsContent ul li {
	font-size: 13px;
	color: #f5cb5c;
}

.productsContent input[type="checkbox"] {
	width: 15px;
	height: 15px;
}

.categ {
	background-color: #242423;
	padding: 20px;
	margin-left: 20px;
	border-radius: 20px;
	margin-top: 5px;
	display: block;
}

.product {
	background-color: #636563;
	margin-left: 15px;
	border-radius: 20px;
	margin-top: 15px;
	font-size: 25px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	color: #F5CB5C;
}

.product_img {
	mix-blend-mode: multiply;
	width: 100%;
}

.product:hover {
	background-color: #c8ccc8;
	margin-left: 15px;
	border-radius: 20px;
	margin-top: 15px;
	font-size: 25px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	color: #333533;
}

@media (max-width:900) {}